* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    /*CORES PRIMÁRIAS*/
	--corprimaria1: #000029;
	--corprimaria2: #04263B;    
	--corprimaria3: #073D5F; 

    /*CORES SECUNDÁRIAS*/
	--corsecundaria1: #F57A00;
	--corsecundaria2: #FF850A;
	--corsecundaria3: #FF8F1F;

    /*CORES PARA TEXTO*/
	    /*dark theme*/
    --textodark1: #333333;
    --textodark2: #3D3D3D;

	    /*white theme*/
    --textowhite1: #F5F5F5;
    --textowhite2: #FFFFFF;

    /*CORES EXTRAS*/
    --cor-rgb: linear-gradient(45deg, #FF850A, #F57A00, #FF8F1F);
}

/* Página Certificados */
.background {
    background-image: linear-gradient(45deg, #000029, #04263B, #04263B, #073D5F );
    height: auto;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 8%;
    padding-right: 8%;
    min-height: 15vh;
    box-shadow:
              0px 1px 6px var(--corsecundaria1), 
              0px 2px 18px var(--corsecundaria1), 
              0px 4px 20px var(--corsecundaria1), 
              0px 8px 80px var(--corsecundaria1);

    visibility: hidden;
    animation: main-animation 1s;
}

@keyframes main-animation {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateX(0);
    }
}

nav ul {
    min-height: 100%;
}

nav ul li {
    display: inline-block;
    padding: 10px 25px;
    list-style-type: none;
}   

nav ul li a {
    position: relative;
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    transition: 1s;
    margin: 10px 10px 10px 10px;
    padding-bottom: 3px;
}

nav ul li a::before {
    content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--corsecundaria1);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.4s ease;
}

nav ul li a:hover::before {
    transform: scaleX(1);
  }

.certificados-title {
    margin-top: 6%;
    text-align: center;

    visibility: hidden;
    animation: title-animation 1s;
}

@keyframes title-animation {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateX(0);
    }
}

.certificados-title h4 {
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 46px;
}

span {
    color: var(--corsecundaria1);
}

.certificados-title h3 {
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 36px;
    margin-bottom: 50px;
}

.certificados-cards {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center ;
}

.card {
    width: 25%;
    margin: 25px;
    padding: 20px;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 2px var(--corprimaria3);
    transition: transform ease 0.2s, box-shadow ease 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;

    visibility: hidden;
    animation: card-animation 1s;
}

@keyframes card-animation {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}

.card:hover {
    box-shadow: 0px 4px 8px 0px var(--corsecundaria1);
}

.card h2 {
    color: #fff;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card button {
    width: 100px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 13pt;
    background-color: var(--corsecundaria1);
    border: none;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
}

.card button:hover {
    background: transparent;
    border: 1px solid var(--corsecundaria1);
}

.card button a {
    color: #fff;
    text-decoration: none;
}

#direitos {
    margin-top: 20px;
    color: var(--textowhite1);
    text-align: center;
    padding-bottom: 10px;
    font-size: 12px;
}
