* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    /*CORES PRIMÁRIAS*/
	--corprimaria1: #000029;
	--corprimaria2: #04263B;
	--corprimaria3: #073D5F; 

    /*CORES SECUNDÁRIAS*/
	--corsecundaria1: #F57A00;
	--corsecundaria2: #FF850A;
	--corsecundaria3: #FF8F1F;

    /*CORES PARA TEXTO*/
	    /*dark theme*/
    --textodark1: #333333;
    --textodark2: #3D3D3D;

	    /*white theme*/
    --textowhite1: #F5F5F5;
    --textowhite2: #FFFFFF;

    /*CORES EXTRAS*/
    --cor-rgb: linear-gradient(45deg, #FF850A, #F57A00, #FF8F1F);
}

/* Página Principal */

.background {
    background-image: linear-gradient(45deg, #000029, #04263B, #04263B, #073D5F );
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 8%;
    padding-right: 8%;
    min-height: 15vh;
    box-shadow:  0px 1px 6px var(--corsecundaria1), 
              0px 2px 18px var(--corsecundaria1), 
              0px 4px 20px var(--corsecundaria1), 
              0px 8px 80px var(--corsecundaria1);
    visibility: hidden;

    animation: nav-animation 1s;
}

@keyframes nav-animation {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

nav ul {
    min-height: 100%;
}

nav ul li {
    display: inline-block;
    padding: 10px 25px;
    list-style-type: none;
}   

nav ul li a {
    position: relative;
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    transition: 1s;
    margin: 10px 10px 10px 10px;
    padding-bottom: 3px;
}

nav ul li a::before {
    content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--corsecundaria1);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.4s ease;
}

nav ul li a:hover::before {
    transform: scaleX(1);
  }

.main {
    position: absolute;
    top: 25%;
    left: 8%;
    transform: translateY(-50);
    margin-top: 4%;

    visibility: hidden;
    animation: main-animation 1s;
}

@keyframes main-animation {
    from {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0);
    }
}

.main h1 {
    background-image: var(--cor-rgb);
    margin: 20px 0px 20px;
    font-size: 80px;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main h3 {
    color: var(--textowhite1);
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: 50px;
    padding-left: 15px;
}

.main button {
    width: 150px;
    height: 50px;
    color: var(--textowhite1);
    letter-spacing: 2px;
    font-size: 16pt;
    font-weight: bold;
    background-color: var(--corsecundaria1);
    border: none;
    transition: 0.3s;
    border-radius: 50px;
    cursor: pointer;
}

.main button:hover {
    background: transparent;
    border: 1px solid var(--corsecundaria1);
}

.main button a {
    color: var(--cor-secundaria);
    text-decoration: none;
}


/* Página-Sobre-Mim */

#background-color-sobre {
    background-color: #ececec;
    width: 100%;
    height: 100vh;
    padding: 100px 0px;
}

#background-color-sobre img {
    width: 380px;
    height: auto;
    border-radius: 10px;
}

.main-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    width: 1130px;
    margin: 0 auto;
}

.text-sobre {
    width: 550px;
    margin-left: 100px;
}

.text-sobre h2 {
    color: var(--corprimaria1);
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0px;
}

.text-sobre h5 {
    color: var(--corprimaria2);
    letter-spacing: 2px;
    font-size: 25px;
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-me {
    color: #000;
    letter-spacing: 1px;
    line-height: 28px;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 20px;
}

.about-me::after {
    content: "|";
    margin-left: 5px;
    opacity: 1;

    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

}

/* Página Habilidades */

#background-color-skills {
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#background-color-skills h2 {
    color: var(--corprimaria1);
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.skills  {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
  }
  
  .skill {
    margin: 20px;
    width: 25%;
    height: auto;
    background-color: #ececec;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 0px var(--cor-tercearia);

    transition: box-shadow ease 0.2s;
    visibility: hidden;
  }

  .skill:hover {
    box-shadow: 0px 4px 8px 0px var(--corsecundaria1);
  }  
  
  .skill img {
    width: 80px;
  }
  
  .skill-text {
    background-color: #ececec;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    cursor: default;
  }
  
  .skill-text h3 {
    margin-bottom: 10px;
    color: #000;
  }
  
  .skill-text p {
    margin-top: 5px;
    color: #000;
  }
  
  .progress-bar {
    width: 80%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: auto;
  }
  
  
  .progress {
    background: var(--cor-rgb);
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
  } 

@keyframes progress-bar1 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes progress-bar2 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes progress-bar3 {
    0% {
        width: 0;
    }

    100% {
        width: 20%;
    }
}

@keyframes progress-bar4 {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

@keyframes progress-bar5 {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

@keyframes progress-bar6 {
    0% {
        width: 0;
    }

    100% {
        width: 20%;
    }
}

/* Página Contato */

.sociais {
    width: 100%;
    height: auto;
    padding: 2em;

    background-image: linear-gradient(45deg, #000029, #04263B, #04263B, #073D5F );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sociais-main {
    visibility: hidden;
}

.sociais-main h2 {
    text-align: center;
    color: var(--textowhite1);
    margin: 0;
    margin-bottom: 15px;
    font-size: 30px;
}

.redes-sociais {
    display: flex;
    justify-content: center;

}

.redes-sociais a {
    background: var(--cor-rgb);
    color: var(--textowhite1);
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
    text-decoration: none;
    font-size: 32px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    transition: 0.2s;
}

.redes-sociais a:hover {
    box-shadow: 0px 0px 10px var(--corsecundaria1);
}

.ult {
    text-decoration: none;
    color: var(--textowhite1);
}

.ult:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: var(--cor-primaria);
}

.sociais-main p {
    text-align: center;
    color: var(--cor-secundaria);
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 12px;
}

.angle-up {
    background-image: var(--cor-rgb);
    color: #fcfcfc;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    margin: 10px;
    text-decoration: none;
    font-size: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    
    transition: 0.3s;
}

.angle-up:hover {  
    box-shadow: 0px 0px 5px var(--corsecundaria1);  
}

#direitos {
    margin-top: 20px;
    color: var(--textowhite1);
}

/* MOBILE DEVICES */

@media only screen and (max-width: 1024px){
    
    nav ul li {
        padding: 10px 10px;
    }   

    .main h1 {
        font-size: 60px;
    }

    .main h3 {
        font-size: 25px;
    }

    .main button {
        width: 125px;
        height: 40px;
        font-size: 14pt;
    }

    #background-color-sobre {
        padding: 25px 0px;
    }

    .main-sobre {
        width: 1024px;
        height: auto;
    }

    .text-sobre h2 {
        font-size: 60px;
    }
    
    .text-sobre h5 {
        color: var(--corprimaria2);
        letter-spacing: 2px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .text-sobre {
        width: 400px;
        margin-left: 100px;
    }

    .about-me {
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    #background-color-skills h2 {
        color: var(--corprimaria1);
        font-size: 50px;
        text-transform: capitalize;
        margin-bottom: 10px;
        text-align: center;
    }

    .skills  {
        width: 80vw;
      }

      .skill {
        margin: 10px;
        width: 25%;
        height: auto;
    
        transition: box-shadow ease 0.2s;
        visibility: hidden;
      }
      
      .skill img {
        width: 70px;
      }
      
      .skill-text {
        margin-top: 0px;
        padding: 5px;
      }
      
      .skill-text h3 {
        margin-bottom: 10px;
        color: #000;
        font-size: 16px;
      }
      
      .progress-bar {
        width: 60%;
      }

      .sociais {
        padding: 1.5em;
      }

      .sociais-main h2 {
        margin-bottom: 10px;
        font-size: 25px;
    }
    
    .redes-sociais a {
        width: 40px;
        height: 40px;
        margin: 5px;
        font-size: 26px;
    }
}

@media only screen and (max-width: 768px) {
    nav ul li {
        padding: 6px 6px;
    }   

    nav ul li a {
        font-size: 16px;
    }

    .main h1 {
        font-size: 50px;
    }

    .main h3 {
        font-size: 20px;
    }   

    .main button {
        width: 125px;
        height: 40px;
        font-size: 14pt;
    }

    #background-color-sobre {
        padding: 25px 0px;
    }

    #background-color-sobre img {
        width: 268px;
        height: auto;
    }

    .main-sobre {
        width: 768px;
        height: auto;
        padding-left: 50px;
        padding-right: 50px  ;
    }

    .text-sobre h2 {
        font-size: 50px;
    }
    
    .text-sobre h5 {
        color: var(--corprimaria2);
        letter-spacing: 2px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .text-sobre {
        width: 400px;
        margin-left: 100px;
    }

    .about-me {
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    #background-color-skills h2 {
        color: var(--corprimaria1);
        font-size: 50px;
        text-transform: capitalize;
        margin-bottom: 10px;
        text-align: center;
    }

    .skills  {
        width: 80vw;
      }

      .skill {
        margin: 10px;
        width: 25%;
        height: auto;
    
        transition: box-shadow ease 0.2s;
        visibility: hidden;
      }
      
      .skill img {
        width: 70px;
      }
      
      .skill-text {
        margin-top: 0px;
        padding: 5px;
      }
      
      .skill-text h3 {
        margin-bottom: 10px;
        color: #000;
        font-size: 16px;
      }
      
      .progress-bar {
        width: 60%;
      }

      .sociais {
        padding: 1.5em;
      }

      .sociais-main h2 {
        margin-bottom: 10px;
        font-size: 25px;
    }
    
    .redes-sociais a {
        width: 40px;
        height: 40px;
        margin: 5px;
        font-size: 26px;
    }
}
